header, footer {
  background-color: midnightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 15vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 0vw;
  padding-right: 0vw;
  border: 3px solid rgb(50, 158, 226);
  border-radius: 10px;
}

footer {
  text-align: center;
  color: whitesmoke;
  height: 10vh;
  padding-top: 5vh;
  margin-top: 2vh;
}

nav {
  background-color: midnightblue;
  color: whitesmoke;
  font-family: helvetica, sans-serif;
  padding-left: 2vw;
}

nav a {
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

body {
  background-color: whitesmoke;
  color: darkslategray;
}

.book {
  margin-right: 2vw;
}

h1, h2 {
  font-family: 'Zen Loop', cursive;
  color: midnightblue;
  margin-top: 2vh;
}

h3, h4 {
  color: whitesmoke;
}

a:hover {
  background-color: rgb(50, 158, 226);
}

i {
  font-style: italic;
}

